<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> nav}}
    {{> component }}
    <h1>{{ jemclouder.name }}</h1>
    <h2><b>Limit of storage: </b>{{ jemclouder.limStorage }}</h2>
    <h2><b>Current storage: </b>{{ jemclouder.currentStorage }}</h2>
    <a href="/profile/folder">folder</a>
    <a href="/profile/file">file</a>
</body>
</html>